<h3>Fill the table:</h3>
<table>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">MEANING</th>
      <th scope="col">MASCULINE</th>
      <th scope="col">FEMININE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>definite article</td>
      <td id='def_meaning'>the</td>
      <td id='def_masculine'><input size=1/></td>
      <td id='def_feminine'><input size=1/></td>
    </tr>
    <tr>
      <td>indefinite article</td>
      <td id='indef_meaning'>a, an</td>
      <td><input size=1/></td>
      <td><input size=1/></td>
    </tr>
    <tr>
      <td>demonstrative adjectives</td>
      <td id='adj_meaning'>this<br/>that<br/>that</td>
      <td><input size=1/><br/><input size=1/><br/><input size=1/></td>
      <td><input size=1/><br/><input size=1/><br/><input size=1/></td>
    </tr>
  </tbody>
</table>